@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

/*

- Mobile: 375px
- Desktop: 1440px
- Font size (paragraph): 15px
- Weights: 400, 700

*/


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Overpass", sans-serif;
  color: var(--White);
}

:root {
  /*   Colors   */
  --Orange: #fc6c21;
  --White: #ffffff;
  --Light-Grey: #959eac;
  --Meduim: #4d5159;
  --Medium-Grey: #232b32;
  --Dark-Blue: #181d25;
  --Very-DarkBlue: #151619;
}
body{
  height: 100vh;
  background: var(--Very-DarkBlue);
}
body .title{
  font-size: 25px;
}

body .description{
  color: var(--Meduim);
  font-weight: 400;
}

.card{
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  height: 375px;
  width: 375px;
  padding: 35px;
  border-radius: 30px;
  background: var(--Dark-Blue);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}
.card .star{
  height: 45px;
  width: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: var(--Medium-Grey);
}

.card .numbers{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.card .numbers span{
  height: 45px;
  width: 45px;
  border-radius: 50%;
  color: var(--Light-Grey);
  background: var(--Medium-Grey);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.card .numbers span:hover{
  background: var(--Orange);
  color: var(--White);
}

.card .submit{
  width: 100%;
  border: none;
  padding: 10px;
  letter-spacing: 3px;
  border-radius: 30px;
  background: var(--Orange);
  cursor: pointer;
}

.card .submit:hover{
  background: var(--White);
  color: var(--Orange);
  font-weight: 700;
}

.card-thanks{
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  height: 375px;
  width: 375px;
  padding: 35px;
  border-radius: 30px;
  background: var(--Dark-Blue);
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.card-thanks .box{
  padding: 5px 15px;
  background: var(--Meduim);
  border-radius: 30px;
  color: var(--Orange);
  font-weight: 400;
}